/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 21, 2015, 5:53:18 PM
    Author     : arthurpereira
*/

body .ui-overlay-a {
    background-color: white !important;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    text-shadow: none !important;
}

p.info {
    font-size: 20px;
}

div#div-fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/*
    ---- NAVEGAÇÃO ----
*/

div#div-fixo {
    position: fixed;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    top: 0;
    z-index: 999;
}

div#div-topo {
    position: absolute;
    left: 0;
    top: 0;
    height: 63px;
    width: 100%;
    background-color: #3360c7;
}

div#div-rodape {
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 57px;
    width: 100%;
    background-color: #3360c7;
}

#span-jogo {
    position: absolute;
    top: 8px;
    left: 3%;
    height: 49px;
    width: 45%;
    font-size: 43px;
    text-align: center;
    cursor: pointer;
    padding-top: 6px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#span-placar {
    position: absolute;
    top: 8px;
    right: 3%;
    height: 45px;
    width: 45%;
    font-size: 37px;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

span.span-tab-nome {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.nav-ativo {
    color: #3360c7;
    background-color: white;
}

.nav-inativo {
    color: white;
    background-color: #3360c7;
}

.display-none{
    display: none;
}

div#div-aguardando-jogo {
    position: fixed;
    top: 30%;
    text-align: center;
    width: 100%;
}

span#span-aguardando-jogo {
    color: #3360c7;
    font-size: 90px;
}

h2#h2-aguardando-jogo {
    line-height: 0 !important;
    padding-top: 15px;
    margin-bottom: 2px;
    font-size: 22px
}

p#p-aguardando-jogo {
    font-size: 18px;
}

div#div-pergunta {
    position: fixed;
    top: 70px;
    width: 100%;
}

p#p-pergunta {
    color: #000;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 10px;
}

p.p-alternativa {
    color: #fff;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 16px !important;
    font-weight: bold !important;
    line-height: 45px;
    height: 45px;
}

div.div-indice-alternaviva {
    float: left;
    margin-top: 7px;
    margin-left:5px; 
    text-align: center;
    color: #000;
    background-color: #fff;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

div.div-alternativa {
    margin: 0px 15px -5px 15px;
    border-radius: 5px;
}

.textoDialog {
    text-align: center;
    font-size: 14pt;
}

.ui-page-theme-a .ui-bar-inherit {
    background-color: #3360c7 !important;
    color: #FFF !important;
    text-shadow: none !important;
    border: none !important;
}

.ui-popup.ui-body-inherit, .ui-popup.ui-body-inherit .ui-page-theme-a .ui-bar-inherit {
    border: none !important;
}

.ui-header .ui-title {
    margin: 0px 20px !important;
}

button.ui-shadow {
    box-shadow: none !important;
}

.ui-popup .ui-content {
    text-align: center !important;
    overflow: auto;
    padding-bottom: 0px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.btn-confirma-sim {
    background-color: #3360c7 !important;
    color: #FFF !important;
    text-shadow: none !important;
    border: none !important;
}

.btn-confirma-nao {
    background-color: #dcdcdc !important;
    color: #333 !important;
    text-shadow: none !important;
    border: none !important;
}

img#img-foto-jogador {
    position: fixed;
    bottom: 6px;
    left: 14px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-image: url("#{resource['img/perfil.jpg']}");
    background-size: contain;
}

span#span-nome-jogador {
    position: fixed;
    bottom: 27px;
    left: 75px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

#div-pontuacao-jogador {
    position: fixed;
    bottom: 6px;
    left: 75px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

#div-pontuacao-jogador span.fa-check {
    color: #07ea07;
}

#div-pontuacao-jogador span.fa-times {
    color: #ff1717;
}

div#div-placar {
    margin-top: 70px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

span.span-placar-colocacao {
    text-align: center;
    font-size:30px;
    font-weight: bold;
}

p.p-placar-jogador {
    top: 0px;
    left: 60px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: -20px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

p.p-placar-pontuacao {
    left: 60px;
    top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.p-placar-pontuacao .fa-check {
    color: #00a000;
}

.p-placar-pontuacao .fa-times {
    color: #d50f0f;
}

img.img-placar-foto-jogador {
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50% !important;
    margin: auto;
    background-image: url("#{resource['img/perfil.jpg']}");
    background-size: contain;
}

p.p-placar-vazio {
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#div-fim-do-jogo {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8px);
}

@media all and (orientation:portrait) {
    .logo-lades {
        position: fixed !important;
        bottom: 8px;
        width: calc(100% - 30px) !important;
    }
}

.logo-lades > img {
    width: 164px;
    height: 44px;
}

.head-logo, .head-perfil, .logo-lades {
    text-align: center;
    flex: 0 1 auto;
}

.head-logo, .logo-lades {
    display: inline-table;
}

.head-logo > img {
    width: 160px;
}

.head-logo > h1 {
    line-height: normal;
}

.head-perfil {
    display: table;
    margin-top: 10px;
    margin-bottom: 10px;
}

.head-perfil > div {
    display: table-cell;
    vertical-align: middle;
}

.head-perfil > div > img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-image: url("#{resource['img/perfil.jpg']}");
    background-size: contain;
}

.head-perfil > div > p {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.6em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 480px) {
    .head-logo > img {
        width: calc(17vw + 80px);
    }
    .head-perfil > div > img {
        width: calc(30vw + 30px);
        height: calc(30vw + 30px);
    }
}

.pontuacao {
    position: relative;
    padding: 0 8px !important;
    margin-bottom: 10px;
    flex: 0 1 auto;
    width: 100%;
}

@media (max-width: 520px) {
    .pontuacao {
        width: calc(100vw - 16px) !important;
    }
}

@media (min-width: 521px) {
    .pontuacao {
        max-width: 470px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

.card-colocacao {
    background: #3360c7;
    width: calc(33.3333333% - 6px) !important;
    float: left;
    margin-right: 9px;
    border-radius: 4px;
}

.card-acertos {
    background: #00a000;
    width: calc(33.3333333% - 6px) !important;
    float: left;
    margin-right: 9px;
    border-radius: 4px;
}

.card-erros {
    background: #d50f0f;
    width: calc(33.3333333% - 6px) !important;
    float: left;
    border-radius: 4px;
}

.card-colocacao, .card-acertos, .card-erros {
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.card-colocacao > p:first-child, .card-acertos > p:first-child, .card-erros > p:first-child {
    font-size: 2.5em;
    margin-bottom: -7px;
    margin-top: -1px;
}

.card-colocacao > p:last-child, .card-acertos > p:last-child, .card-erros > p:last-child {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.agradecimento {
    flex: 1 1 auto;
    margin-bottom: 50px;
}

.agradecimento > div {
    display: table;
    height: 100%;
    width: 100%;
}

.agradecimento > div > div {
    display: table-cell;
    vertical-align: middle;
}

p.obrigado {
    text-align: center;
    font-size: 20px;
    width: 100%;
}